.row{   

    background-color:black;
    color: gold;
    font-size:20px;
    border-bottom: 2px; 
}
.headshot{
    width:20%;
   
}
.mid{
    
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
  


.footer {
    display: flex;
    justify-content: space-around;
    
    }
.mid {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: gold;
    
    }

.aboutme {
    display: flex;
    justify-content: center;
   
}

.contact {
    display: flex;
    justify-content: space-around;
    
}

.headshot{
    border-radius: 150%;
    border-color: gold;

    
}